@font-face{
    font-family: 'neutra' ;
    src: url(fonts/Neutra-Text-Bold_32106.ttf);
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
}


body{
    
    font-family: 'Staatliches', cursive;

}

/* HEADER */



/* NAV */


/*button burger */

.nav__bar {
    height: 8vh;
    display: flex;
    padding: 0 20px;
    padding-top: 10px;
}


.ham{
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 25px;

}

.ham span{
    display: block;
    background-color: #f3f3f3;
    height: 5px;
    width: 28px;
    margin: 4px auto;
    border-radius: 2px;

}



.menu__nav{
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding-top: 90px;
    padding-bottom: 40px;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(#000000, #00000075),  url(assets/pexels-chevanon-photography-1108117.jpg);
    background-repeat: no-repeat;
    background-position: center;
    

}



.menu__nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 400;
    font-family: 'neutra';
    text-transform: uppercase;

    
}


.logo__nav--link{
    display: none;
}

@keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes headerDark {
    from{opacity: normal;}
    to{opacity: 2;}
}

.menu__nav.active{
    display: flex;
    animation:muestraMenu 500ms  ease-in-out both;
}


.br-1.animado {
    transform: rotate(-45deg) translate(-10px , 8px);

}


.br-2.animado{
    opacity: 0;
}

.br-3.animado {
    transform: rotate(45deg)  translate(-5px, -3px);
}

.hero.active{
    background-image: linear-gradient(to bottom, #000000c7 , #000000c7, #000000c7), url(assets/newport.jpg);
    animation:  headerDark 400ms ease-in-out  both;
}


/*  slider */


.hero{
    height: 100vh;
    background-image: linear-gradient(to bottom, #00000047 , #00000058, #00000015), url(assets/newport.jpg);
    background-position: center center;
    background-size: cover;
   
    background-repeat: no-repeat;

    
}


.slider{
    padding-top: 30px;
    text-align: center;

}


.logo__slider--item{
    width: 280px;
    height: 150px;
}

.title__banner{
    font-size: 3rem;
    font-weight: 900;
    color: #FFFFFF;
    font-family: 'neutra';
    line-height: 1.6;
    margin-top: 20px;

}
